@import url('https://fonts.googleapis.com/css?family=Quicksand');
@font-face{
  src:url('../fonts/Limelight-Regular.ttf');
  font-family:limelight;
}
body{
  height:100%;
  margin-left:20px;
  background-color:#222;
  color:#f5f5f5;
  font-family:quicksand;
}
.navbar{
  font-size:1.3em;
  background-color:#222;
  height:4em;
}
ul > li > a{
  color:#c00000 !important;
}
.tel{
  color:#f5f5f5;
  /*margin-right:30px;*/
}
.tel:hover{
  text-decoration:none;
}
.fa-phone-square{
  color:#c00000;
}
.nav{
  margin-top:15px;
}
.navbar-brand{
  color:#f5f5f5 !important;
  font-size:2em;
  font-family:limelight;
  margin-right:40px;
}
.bg{
  border:3px solid #c00000;
  border-radius:50%;
  background-color:#c00000;
}
.navbar-text{
  font-size:1em;
  margin-right:2%;
  margin-top:25px;
}
a.active{
  border-bottom:2px solid #f5f5f5;
}
h2{
  font-size:2.5em;
  color:#c00000;
}
h4{
  font-size:2em;
  font-family:limelight;
}
#about{
  margin-top:100px;
  margin-right:50px;
  margin-bottom:100px;
}
#about p, li{
  font-size:1.2em;
}
#about li, .offer{
  margin-left:10%;
}
#history{
  margin-bottom:50px;
}
#team{
  margin-bottom:100px;
}
#team p{
  font-size:1.15em;
}
#team img{
  border-radius:10px;
}
#team ul{
  list-style-type:none;
}
.patti{
  margin-bottom:100px;
}
.pattiPic{
  width:15%;
  height:15%;
  float:right;
  margin-top:-50px;
}
.brit img, .amanda img, .jeanne img{
  float:right;
  margin-left:10px;
  margin-right:20px;
}
.amanda p, .jeanne p{
  margin-bottom:100px;
}
.maggie img, .anita img, .shadow img, .newgirl img{
  float:left;
  margin-right:10px;
}
.anita p, .shadow p{
  margin-bottom:100px;
}
.two{
  margin-bottom:50px;
}
#ourWork{
  margin-left:5%;
}
.image{
  margin:0;
  padding:0;
  position:relative;
  display:inline-block;
  border:4px solid #f5f5f5;
}
.image:after, .image:before{
  position:absolute;
  opacity:0;
  transition:all .5s ease;
  -webkit-transition:all .5s ease;
}
.image:after{
  content:'\A';
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
}
.image:before{
  content:attr(data-content);
  color:#f5f5f5;
  z-index:1;
  text-align:center;
  background:gray;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before{
  opacity:1;
}
.work{
  opacity:1;
}
.work:hover{
  opacity:.3;
  cursor:pointer;
}
.datepicker{
  width:475px;
  border-radius:10px;
  box-shadow:0 19px 38px rgba(0,0,0,0.2), 0 15px 12px rgba(0,0,0,0.2);
  overflow:hidden;
}
.datepicker .ui-datepicker-inline{
  padding:30px;
}
.datepicker .ui-datepicker-header{
  text-align:center;
  font-size:1.5em;
  padding-bottom:.5em;
  letter-spacing:.1em;
  color:#f5f5f5;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next{
  float:left;
  cursor:pointer;
  font-size:1.4em;
  padding:0 5px;
  margin-top:-7px;
  color:#c00000;
  transition:.6s;
}
.datepicker .ui-datepicker-header .ui-datepicker-next{
  float:right;
}
.datepicker .ui-datepicker-calendar{
  width:100%;
  font-size:1.5em;
  align:center;
}
.datepicker .ui-datepicker-calendar a{
  color:#f5f5f5;
  text-decoration:none;
  display:block;
  margin:0 auto;
  width:30px;
  height:30px;
  line-height:30px;
  border-radius:50%;
  border:1px solid transparent;
  cursor:pointer;
}
.datepicker .ui-datepicker-calendar a:hover{
  color:#c00000;
  transition:.7s;
  transform:scale(1);
}
.ui-datepicker-today{
  text-decoration:underline;
}
tr{
  color:#c00000;
}
#book{
  margin-bottom:200px;
  margin-top:100px;
}
#thankyou_message{
  float:right;
  margin-top:-200px;
  margin-right:5%;
  font-size:1.5em;
}
#thankyou_message b{
  color:#c00000;
}
form{
  float:right;
  margin-top:-380px;
  width:50%;
  padding:50px;
  background:#222;
  text-align:center;
}
input, select{
  display:inline-block;
  width:100%;
  margin:20px 0;
  border:2px dashed #222;
  outline:none;
  font-size:20px;
  transition:all .2s ease;
  color:#222;
  background-color:#f5f5f5;
}
button{
  width:100%;
  display:inline-block;
  margin:20px 0;
  outline:none;
  font-size:20px;
  color:#c00000;
  background-color:#222;
}
input:focus, select:focus{
  border-color:#c00000;
}
::-webkit-input-placeholder{
  color:#222;
}
:-ms-input-placeholder{
  color:#222;
}
::-moz-placeholder{
  color:#222;
  opacity:1;
}
.date{
  font-size:20px;
}
#map{
  height:200px;
  width:50%;
  float:right;
  margin-top:-175px;
  margin-right:150px;
}
.map{
  width:50%;
}
#location ul{
  list-style-type:none;
}
address a{
  color:#f5f5f5;
}
#footer{
  margin-top:100px;
  text-align:center;
  color:#c00000;
}
b{
  font-family:limelight;
  color:#f5f5f5;
  font-size:1.3em;
}
#footer ul{
  list-style-type:none;
}
#footer li{
  display:inline;
}
#footer i{
  font-size:2em;
}
.mobile{
  display:none;
}

@media(max-width:1030px){
  .navbar-text{
    display:none;
  }
  #thankyou_message{
    font-size:1.3em;
  }
}

@media(max-width:940px){
  #thankyou_message{
    font-size:1.1em;
  }
}

@media (max-width:875px){
  .navbar{
    display:none;
  }
  .mobile{
    display:block;
    position:fixed;
    top:0;
    width:100%;
    background-color:#222;
  }
  .logo{
    font-size:2.5em;
    margin-left:35%;
    font-family:limelight;
  }
  .container{
    display:inline-block;
    cursor:pointer;
    position:fixed;
    top:1em;
  }
  .bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color:#f5f5f5;
    margin:6px 0;
    transition:.4s;
  }
  h2{
    text-align:center;
    margin-bottom:30px;
  }
  .datepicker{
    margin-left:10%;
  }
  form{
    float:none;
    margin-top:20px;
    margin-left:7%;
    width:75%;
  }
  #thankyou_message{
    float:none;
    margin-top:5%;
    margin-left:10%;
  }
  #book{
    margin-bottom:0;
  }
  .image{
    z-index:-1;
    position:relative;
    display:block;
    margin:0;
    padding:10px;
    text-align:center;
    border:0;
  }
  .image:after, .image:before{
    position:absolute;
    opacity:1;
  }
  .image:after{
    content:'\A';
    top:0;
    left:0;
  }
  .image:before{
    content:attr(data-content);
    color:#f5f5f5;
    z-index:1;
    text-align:center;
    background:#222;
  }
  #map{
    z-index:-1;
  }
}
@media (max-width:680px){
  body{
    margin-right:20px;
  }
  .datepicker{
    margin-left:10%;
  }
  #map{
    display:none;
  }
  h2{
    text-align:center;
  }
}
@media(max-width:560px){
  .logo{
    font-size:2em;
  }
  .datepicker{
    width:75%;
  }
}
@media(max-width:430px){
  body{
    font-size:1.2em;
  }
  .logo{
    font-size:1.5em;
  }
}
