@import url ('https://fonts.googleapis.com/css?family=Quicksand');
@font-face{
  src:url('../fonts/Limelight-Regular.ttf');
  font-family:limelight;
}
body{
  height:100%;
  background-color:#222;
  color:#f5f5f5;
  font-family:Quicksand;
  font-size:1.5;
  margin-left:5%;
}
h2{
  text-align:center;
  font-size:2.3em;
  color:#c00000;
}
h4{
  font-size:2em;
  font-family:limelight;
  color:#f5f5f5;
}
p{
  font-size:1.5em;
}
a{
  font-size:1.8em;
}
a.active{
  border-bottom:2px solid #f5f5f5;
}
.fa-phone-square{
  color:#c00000;
}
.navList{
  display:none;
}
.navbar{
  font-size:1.5em;
  background-color:#222;
  height:4em;
}
.navbar-nav > li > a{
  color:#c00000 !important;
  margin-top:25px;
  font-size:1.2em;
}
.tel{
  font-size:1.3em;
}
.tel:hover{
  text-decoration:underline;
}
.navbar-brand{
  color:#f5f5f5 !important;
  font-size:2em;
  font-family:limelight;
  margin-right:40px;
}
.bg{
  border:3px solid #c00000;
  border-radius:50%;
  background-color:#c00000;
}
.navbar-text{
  font-size:1em;
  margin-right:2%;
  margin-top:25px;
}
#about{
  margin-top:50px;
  margin-right:50px;
  margin-bottom:50px;
}
#about img{
  height:30%;
  width:30%;
  border-radius:20px;
  float:right;
  margin-right:30px;
}
.offer{
  padding-top:100px;
}
.offer > ul > li{
  font-size:1.5em;
}
#team{
  clear:right;
}
#brit img{
  width:30%;
  height:30%;
  float:left;
  border-radius:20px;
  margin-right:20px;
}
.about{
  padding-top:50px;
  padding-right:20px;
}
#maggie{
  clear:left;
  padding-top:30px;
}
#maggie img{
  float:right;
  border-radius:20px;
  margin-right:20px;
  width:30%;
  height:30%;
}
#maggie p{
  padding-top:50px;
}
#patti{
  clear:right;
  padding-top:30px;
}
#patti img{
  float:left;
  margin-right:20px;
  width:20%;
  height:20%;
}
#patti p{
  padding-top:100px;
}
#ourWork{
  clear:both;
}
#ourWork > div{
  display:inline;
}
#ourWork img{
  height:30%;
  width:30%;
  z-index:-2 !important;
}
.rotate{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  padding-top:100px;
  z-index:-2 !important;
}
#location{
  padding-top:20%;
}
#location b{
  font-family:limelight;
  font-size:2em;
}
address{
  font-size:1.5em;
}
.names{
  font-size:1.5em;
}
#location a{
  font-size:1.7em;
}
#map{
  height:200px;
  float:right;
  width:50%;
  border:1px solid orange;
  margin-right:100px;
  margin-top:-200px;
  z-index:-1;
}
#footer{
  clear:right;
  text-align:center;
  font-size:1.5em;
  padding-top:100px;
}
#footer b{
  font-family:limelight;
  font-size:1.5em;
}
#footer i{
  color:#c00000;
}
@media(max-width:400px){
  .navbar{
    display:none;
  }
  .mobile{
    display:block;
    position:fixed;
    top:0;
    width:100%;
    background-color:#222;
  }
  .navList{
    list-style-type:none;
    font-size:1em;
  }
  .navList a{
    color:#c00000;
  }
  .navList a:hover{
    text-decoration:underline;
    color:#c00000;
  }
  .logo{
    font-size:2em;
    margin-left:20%;
    font-family:limelight;
  }
  .container{
    display:inline-block;
    cursor:pointer;
    position:fixed;
    top:1em;
  }
  .bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color:#f5f5f5;
    margin:6px 0;
    transition:.4s;
  }
  #map{
    float:none;
  }
}
@media(max-width:1048px){
  .navbar-text{
    font-size:.7em;
  }
}
@media(max-width:995px){
  .navbar-text{
    display:none;
  }
}
@media(max-width:900px){
  #map{
    width:40%;
  }
}
@media(max-width:750px){
  #map{
    float:none;
    margin-top:0;
  }
}
@media(max-width:837px){
  .navbar-text{
    display:none;
  }
  .navbar{
    display:none;
  }
  .mobile{
    display:block;
    position:fixed;
    top:0;
    width:100%;
    background-color:#222;
    z-index:1;
  }
  .navList{
    list-style-type:none;
    font-size:1em;
  }
  .navList a{
    color:#c00000;
  }
  .navList a:hover{
    text-decoration:underline;
    color:#c00000;
  }
  .logo{
    font-size:2em;
    margin-left:20%;
    font-family:limelight;
  }
  .container{
    display:inline-block;
    cursor:pointer;
    position:fixed;
    top:1em;
  }
  .bar1, .bar2, .bar3{
    width:35px;
    height:5px;
    background-color:#f5f5f5;
    margin:6px 0;
    transition:.4s;
  }
  #about{
    margin-top:10%;
  }
  #map{
    width:40%;


  }
}
